*{
  box-sizing: border-box;
}
*:focus{
  outline:none;
}

html,body,#root{
  height:100%;
  width:100%;
}

body {
  margin: 0;
  font-family: 'Rubik Medium', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
